ion-header {
    --background: transparent;
    border: 0px;



  }
  ion-content{
    --background:#f2f2f2;

    
    ion-segment{
      // width: 90%;
      /* align-self: center; */
      margin: auto;
      padding:10px;

      --background: transparent;
      border-radius: 10px;
      margin-top:4vh;
      ion-segment-button{
          border-radius: 7px;
          margin:10px;
          --background:#ffffff;
          --color: var(--ion-color-primary);
          text-transform: initial;
          font-size: 12px;
          font-weight: 600;
          --background-checked:var(--ion-color-primary);
          --color-checked:#ffffff;
          --indicator-height:0px;
          min-height: 36px;
      }
  }
  .mapcontainer{
    width:100%;
    height:100vh;
    z-index: -1;
    img{
      object-fit: cover;
    }
  }
  }
