<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Language</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <!-- <p class="main_text"
    > Select Language</p> -->
  
    <ion-list>
      <ion-radio-group value="eng">
        <ion-list-header>
          <ion-label class="main_text">Select language</ion-label>
        </ion-list-header>
    
        <div class="custom">
       
          <ion-radio  value="eng"></ion-radio>
          <ion-label>English</ion-label>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus vitae adipisci magni, quae omnis, nisi facilis ipsum laboriosam numquam optio harum i ipsa?</p>
        </div>
        
        <div class="custom inactive">
       
          <ion-radio  value="arab"></ion-radio>
          <ion-label>Arabic</ion-label>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus vitae adipisci magni, quae omnis, nisi facilis ipsum laboriosam numquam optio harum i ipsa?</p>
        </div>
    
     
    
      
      </ion-radio-group>
    </ion-list>

  </div>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button expand="block" routerLink="/login">
    Continue
  </ion-button>
</ion-footer>