<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <img src="assets/logo_cons.png" alt="" class="logo">
    <p class="enter_your_phone">Enter your mobile number</p>


<ion-item lines="none">

  <ion-input type="tel" placeholder="Mobile Number"></ion-input>
</ion-item>
<ion-button expand="block" (click)="Login()">
  Login
</ion-button>
</form>
<p class="dont_have_acc">Don't have an account? <span routerLink='/register'>Register</span></p>
</ion-content>
