ion-tabs {
  // --background:transparent;

  ion-tab-bar {
    // --background: transparent;
    width: 90%;
    position: absolute;
    bottom: 0px;
    align-self: center;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px -1px #a7a7a7;
  }
}
