<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shop name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p class="reward_text">Reward Stamp</p>
<div class="rewads_container">
  <ion-row>
    <ion-col size="2">
      <ion-icon name="cafe"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="cafe"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="cafe"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="cafe"></ion-icon>
    </ion-col>
    <ion-col size="2">
      <ion-icon name="cafe"></ion-icon>
    </ion-col>
  </ion-row>
</div>
</ion-content>
