<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p class="main_text">1. Terms & Conditions</p>
  <p class="inner_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod suscipit incidunt dolore architecto, officia odio quae facere, minima nam sunt ullam voluptatibus repellendus, inventore tempore. Mollitia dicta officiis porro. Placeat.</p>
  <p class="main_text">2. Policy</p>
  <p class="inner_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolores minima aspernatur, ea ut, delectus, impedit deleniti expedita vitae consequuntur sit aut nostrum suscipit ab a dolor corporis minus ullam.</p>

  <p class="main_text">3. User License</p>
  <p class="inner_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae voluptate laudantium sapiente quia distinctio modi labore libero eum, error quidem, amet quas mollitia ipsum expedita tempora sed in nostrum saepe?</p>

</ion-content>
