<ion-header mode="ios">
  <ion-toolbar>
    <ion-title mode="ios">
      Weather Forecast
    </ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="apps_icon" name="apps" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar mode="ios" placeholder="Search for cities"  (ionChange)="onSearchChange($event)"
    [debounce]="250"></ion-searchbar>
    <ion-list class="search_results" *ngIf="searchResults.length>0">
      <ion-item (click)="getCityWeather(place.Key,place.LocalizedName)" lines="none" *ngFor="let place of searchResults">
        {{place.LocalizedName}}
      </ion-item>
    </ion-list>
   


  <div class="main_content">
    <ion-card class="today_card">
      <ion-item lines="none" class="card_item_today">
        <ion-label slot="start">Today</ion-label>
        <p slot="end" class="full_date_today">friday,01 April</p>
      </ion-item>
      <ion-row class="temp_row">
        <ion-col size="6">
          <p class="temprature">+{{todayTemp}} <span>c</span></p>
        </ion-col>
        <ion-col size="6">
          <img src="assets/few-clouds.png" alt="">
        </ion-col>
      </ion-row>
      <p class="location" *ngIf="placename">
        <ion-icon name="location"></ion-icon> {{placename}}
      </p>
      <p class="location" *ngIf="!placename">
        <ion-icon name="location"></ion-icon> Search a place
      </p>
    </ion-card>



    <ion-row class="others">
      <ion-col size="6">
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="water-outline"></ion-icon>
            <ion-label>
              <p class="perc">92%</p>
              <p class="name">Humidity</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="timer-outline"></ion-icon>
            <ion-label>
              <p class="perc">1010HPa</p>
              <p class="name">pressure</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="other_days">
      <ion-col size="4">
        <ion-card>
          <p class="temprature">+30 <span>C</span></p>
          <p class="day">Friday</p>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <p class="temprature">+30 <span>C</span></p>
          <p class="day">Saturday</p>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <p class="temprature">+30 <span>C</span></p>
          <p class="day">Sunday</p>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>
</ion-content>