ion-header {
  --background: transparent;
  border: 0px;
  ion-toolbar {
    --background: transparent;
    ion-title {
      --color: black;
      font-weight: bold;
    }
  }
}
ion-content {
  .barcode_item {
    border: 1px solid var(--ion-color-primary);
    border-radius: 5px;
    margin: 10px;
  }
  .shops_text {
    font-size: 16px;
    font-weight: bold;
    margin: 3px;
    margin-bottom: 2vh;
  }
  .shops_container {
    .shop_card {
      box-shadow:none;
      margin:0px;
      padding:10px;
      --background:rgba(9, 166, 109, 0.05);
      border-radius:10px;
      margin-bottom: 2vh;
      ion-row {
        .img_col {
          display: grid;
          place-items: center;
          img {
            width: 100%;
            height: auto;
          }
        }
        .content_col {
          .shop_name {
            font-weight: 900;
            color: #333333;
            font-size: 14px;
            margin-bottom: 0px;
          }
          .items_need {
            font-size: 12px;
            color: #777777;
            margin: 0px;
            padding-top: 4px;
          }
          .rewards_p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            font-weight:600;
            .r_won {
              color: var(--ion-color-success);
            }
            .r_rem {
              color: var(--ion-color-primary);
            }
          }
          .range_item{
            ion-range{
              margin:0px;
              padding:0px;
              --height: 20px;
            }
          }
        }
      }
    }
  }
}
