<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-segment [value]="segmentValue" (ionChange)="switchSegment($event)">
  <ion-segment-button value="offers">Offers</ion-segment-button>
  <ion-segment-button value="gifts">Birthday Gifts</ion-segment-button>
</ion-segment>

<div *ngIf="segmentValue==='offers'">

<div>
  Offers
 
</div>

</div>



<div *ngIf="segmentValue==='gifts'">
  <div>
    gifts
  </div>
</div>
</ion-content>
