ion-header {
    --background: transparent;
    border: 0px;
    ion-toolbar {
      --background: transparent;
      ion-title {
        --color: black;
        font-weight: bold;
      }
    }
  }
  ion-content{
    padding:16px;
    ion-item{
      font-weight: 600;
      color:#222222;
      ion-label{
        font-weight: 600;
        color:#222222;
        font-size: 14px;
      }
    }
  }